<!DOCTYPE html>
<html lang="{lang}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="color-scheme" content="light dark">

    <title>{title}</title>

    {meta_tags}

    <link rel="canonical" href="{canonical_url}">

    <link rel="icon" href="/static/favicon.ico" type="image/x-icon">

    <link rel="stylesheet" href="/static/plex-paper/fonts/fonts.css">
    <link rel="stylesheet" href="/static/plex-paper/plex-paper.css">
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>
    <header>
        <nav class="site-nav">
            <ul>
                <li><a href="/about/">About</a></li>
                <li><a href="/archive/">Archive</a></li>
            </ul>
            <ul>
                <li><a href="/plex-paper/">Plex Paper</a></li>
            </ul>
        </nav>
    </header>

    <hr>

    <main>
        {content}
    </main>

    <hr>

    <footer class="footer">
        <p><small>© YOONKIWOONG All rights reserved</small></p>
    </footer>

    <script src="/static/plex-paper/plex-paper.js"></script>
</body>

</html>